<template name="footer">
    <div class="footer">
        <div class="warp _flex">
            <div class="info">
                <div class="logo">FAMI2U</div>
                <div class="copyright">@ 2016 Beijing FAMI Co.,Ltd</div>
                <div class="solgan">连接技术与商业，释放开发者生产力。</div>
                <div class="backup">网站备案：京ICP备15000991号</div>
            </div>
            <div class="_flex-1">
                <a class="title" href="/">主页</a>
                <a class="link" href="/">GITHUB</a>
                <a class="link" href="/">微信公众号</a>
                <a class="link" href="/">新浪微博</a>
                <a class="link" href="/">FACEBOOK</a>
            </div>
            <div class="_flex-1">
                <a class="title" href="/">独立开发者</a>
                <a class="link" href="/">自由职业者</a>
                <a class="link" href="/">认证评级</a>
                <a class="link" href="/">HACKATHON</a>
                <a class="link" href="/">开放日学习活动</a>
            </div>
            <div class="_flex-1">
                <a class="title" href="/">解决方案</a>
                <a class="link" href="/">技术门诊</a>
                <a class="link" href="/">ITVC</a>
                <a class="link" href="/">官方合作伙伴</a>
                <a class="link" href="/">成为合作伙伴</a>
            </div>
            <div class="_flex-1">
                <a class="title" href="/">开源项目组</a>
                <a class="link" href="/">AICS</a>
                <a class="link" href="/">METEORUP</a>
                <a class="link" href="/">生态原型</a>
                <a class="link" href="/">FAMI'S MISSION</a>
            </div>
            <div class="_flex-1">
                <a class="title" href="/">关于组织</a>
                <a class="link" href="/">官方博客</a>
                <a class="link" href="/">组织文化</a>
                <a class="link" href="/">联系我们</a>
                <a class="link" href="/">投资人平台</a>
            </div>
        </div>
    </div>
</template>
