<template name="dashboard">
	<div class="dashboard _flex">
		<div class="dash-left">{{> side}}</div>
		<div class="dash-right _flex-1 ">
			<div class="dash-header _flex">
				<div class="dash-user _flex _animation" >
					<a class="dash-user-nick _flex-1" href="/logout"> {{user}} <i class="fa fa-bars"></i></a>
					<!-- <div  class="dash-user-avatar" style="background-image:url(/avatar.jpg)"></div> -->
				</div>
			</div>
			<div class="dash-warp _flex">{{> Template.dynamic template=content}}</div>
		</div>
	</div>
</template>